!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => "text/javascript"}
  %body{:onload => }
    #container
      #header
        #logo
          %h1
            %a{:href => '/'}= SiteConfig.title
      #content= yield
      #footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"
